/.shadow-cljs
/node_modules
/resources/public/js
/src/tmp
/resources/public/index.js*
/out
/selenium/*.class
/resources/public/favicon.ico
/.nrepl-port
/resources/public/engine
/resources/public/service-worker.js*
/resources/public/workbox*.js*
/resources/public/*png
