{:source-paths ["src"]
 :nrepl {:port 9000}
 :dependencies [[cider/cider-nrepl "0.27.4"]
                [nrepl/nrepl "0.9.0"]
                [cljfmt "0.8.0"]
                [lambdaisland/kaocha "1.60.972"]
                [org.seleniumhq.selenium/selenium-java "3.141.59"]
                [binaryage/devtools "1.0.2"]]
 :builds
 {:test {:target :node-test
         :output-to "out/node-tests.js"
         :ns-regexp "-test$"
         :autorun true}
  ;; turns out I can just import the browser version
  ;; :lib {:target :node-library
  ;;           :output-to "out/lib.js"
  ;;           :exports-fn app.core/play
  ;;           :modules {:main {:entries [app.core app.convert]}}}
  :app {:target :browser
        :output-dir "resources/public/engine"
        :modules {:main {:entries [engine.core engine.convert]}}
        :devtools {:preloads [devtools.preload]
                   :http-root "resources/public"
                   :http-port 3000}
        :compiler-options {:source-map true}}}}

;; thanks https://www.youtube.com/watch?v=p61lhOvQg2Q
